*.csv
*.raw
*.fpn
*.jpg
*.aps
*.vsp
*.db
build
ipch
.vs
CMakeFiles
*.dir
Win32
*.filters
*.cmake
CMakeCache.txt
*.db
*.opendb

*.sdf
*.*sdf
*.suo
*.exe
*.obj
*.ilk
*.pdb
*.CppClean.*
*.tlog
*.log
*.cache
*.pcd

# Image thumbnail database created by windows
Thumbs.db

# Various files creted by Visual Stduio
!*.sln
*.suo
#*.vcproj
!*.vcxproj
*.user*
#*.rc
*.ncb
*.pch
*.dep
*.idb
*.exp
*.res
*.manifest
*.ilk
*.pdb
*.def
Debug
Release
BuildLog.htm

#Various files and folders created by CMake
Cmakefiles
CMakeScripts
CMakeCache.txt
*.cmake
*.dir
ALL_BUILD*

#Various Qt files
#ui_*
#moc_*
#qrc_*


#Misc files
*.svn
*.a
*.o
*.obj
*.exe
*.a
*.app
*.xcodeproj
*.pbxbtree
*.pbxindex
*.build
*.smp
*.pl
*.pyc
*.pyo
*.orig
*.bak
*.rar
OpenCandy
tags
#build
